body{
  background-color: tomato;
}

.App{
  padding: 5rem;
}

.box-container{
  margin-bottom:20rem;
}

.box{
  width: 25rem;
  height: 25rem;
  background: linear-gradient(311deg, rgba(0,230,255,1) 0%, rgba(13,152,0,1) 100%);
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  cursor: pointer;

}

.boxItem{
  width: .5rem;
  height: .5rem;
  background-color: #fff;
  padding: 2rem;
  list-style: none;
  margin:.5rem;
}
